<p class="example">Learning Component class example</p>
<p class="example2">Learning Component class example2</p>
<ul>
  <li>Ao instalar alguma dependência de estilo (ex.: Bootstrap, Angular Material, etc.) via npm, lembre-se de alterar o
    arquivo angular.json para carregar o conteúdo de estilo baixado via node_modules (procure por styles, em build),
    prestando atenção que node_modules estará um nível acima da pasta root, esta normalmente apontando para o src </li>
</ul>
<div>
  <!-- <h5>Veja como funciona no código (é realmente uma mera questão de sintaxe):</h5>
  <p>Esta é uma src via string interpolation: <img src={{stringInterpol}} /></p>
  **É melhor usada quando se deseja apenas concatenar strings
  <p>Esta é uma src via property biding: <img [src]="propertBinding" /></p>
  **Deve ser utilizado quando se deseja utilizar valores diversos de strings
  <h5>Não misture os dois!</h5> -->
</div>
